/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* getting all my style in with this little diddy*/
.houseshade {
  color: rgba(255, 255, 255,0.9);
  background: rgba(50,50,50,0.8);
}
.circlecolor {
  color: rgba(20,20,20,0.7);
}
.housecolor {
  color: rgba(255,255,255,0.9);
}
.sosickofthis {
  color: rgba(50,50,50,.8);
}
.shade{
  background: rgba(50,50,50,0.8);
}
.light {
  background: rgba(280,280,280,0.2);
}
.maxpad {
  padding: 18px 24px;
}
.allthedumb {
  padding: 50px;
  color: rgba(255, 255, 255,0.9);
  background: rgba(50,50,50,0.8);
}



/*All the backgrounds and such */
.fata {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../static/img/259H.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.fatb {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../static/img/263H.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.fatc {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../static/img/40H.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.fatd {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../static/img/226H.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.fate {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../static/img/270H.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid transparent;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: transparent;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  top: 500px;
  text-align: center;
  border-bottom: transparent;
}
.jumbotron {
  padding: 180px 24px;
  font-size: 21px;
  background: transparent;
}

.btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

