<!DOCTYPE html>
<html lang="en">
<head>
    <title>BunnyFat Real Estate App</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script>
    function allowDrop(ev) {
        ev.preventDefault();
    }
    
    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }
    
    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
    
    </script>
</head>
<body>
    <div  class="allthedumb">
        {% for thing in info: %}
            {{thing[0]}}{{thing[1]}}
            <br>
        {% endfor %}
        <br>
        <p> more to come</p>

        <br>
    </div>    

</body>