<!DOCTYPE html>
<html lang="en">
<head>
    <title>BunnyFat Real Estate App</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script>
    function allowDrop(ev) {
        ev.preventDefault();
    }
    
    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }
    
    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
    
    </script>
</head>
<body>
    <div  class="allthedumb">
        {{mortgage}}
        <br>
        
        <span>{{mls}}</span>
        
        <p> or... fill out information below.</p>
        <label for="inputName" class="sr-only">Number 1</label>
        <input  id="num1" class="form-control" placeholder="Listing Price $" required autofocus>
        <label  class="sr-only">Number 2</label>
        <input id="num2" class="form-control" placeholder="Square Feet" required autofocus>
        <label class="sr-only">Number 3</label>
        <input  id="num3" class="form-control" placeholder="Total Units" required>
        <label class="sr-only">Number 4</label>
        <input  id="num4" class="form-control" placeholder="Monthly Rents" required>
        <br>
        <!--
        {{List Price: $"389,699"}}
        {{UT "84102"}}
        {{Tot Sq Ft:"2,797"}}
        {{Tot Units:"4"}}
        -->
    </div>    

</body>