<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bump Real Estate App</title>
    <link href="../static/bootstrap.min.css" rel=
    "stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel=
    "stylesheet" type="text/css">

</head>
<body class="fatb">
    <div class="container header ">
            <nav>
                <ul class="nav nav-pills pull-right light">
                    
                        <li class="active" role="presentation">
                            <a href="#" class="sosickofthis">Home</a>
                        </li>
                        <li role="presentation">
                            <a href="showSignIn" class="sosickofthis">Sign In</a>
                        </li>
                        <li role="presentation">
                            <a href="showSignUp" class="sosickofthis">Sign Up</a>
                        </li>
                </ul>
            </nav>
            <h3><span class="houseshade">BunnyFat</span></h3>
        
        <div class="jumbotron">
            <div class="light maxpad">
                <h1 class="thick">Real Estate App</h1>
               <!-- <p class="thick">Damn Daniel, back at it again with the white vans.</p> -->
                <div>
                    <div class="service-item">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x circlecolor">
                                    
                                </i> 
                                <i class="fa fa-home fa-stack-1x text-primary housecolor">
                                    
                                </i>
                            </span>
                        </div>
                    </div>
            </div>
        </div>
        <!--
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>What is Bump?</h4>
                <p>Bump performs realtime cost analysis on commercial rental
                properties.</p>
                <h4>How can it help you?</h4>
                <p>Bump will allow you to know instantly if a property's rents
                can cover the morgage.</p>
                <h4>What does this mean?</h4>
                <p>You will be the first to submit an offer that makes economic
                and strategic sense.</p>
            </div>

        </div>
        -->
        <footer>
            <p><span class="houseshade">&copy; BunnyFat 2016</span></p>
        </footer>
    </div>
</body>
</html>
