<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bump Real Estate App</title>
 
    
    <link href="../static/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js"></script>
    <!--<script src="../static/signup.js"></script>-->
 
  </head>
 
  <body class="fata">
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right light">
            <li role="presentation" ><a href="/" class="sosickofthis">Home</a></li>
            <li role="presentation"><a href="showSignIn" class="sosickofthis">Sign In</a></li>
            <li role="presentation" class="active"><a href="#" class="sosickofthis">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">BunnyFat</h3>
      </div>
 
      <div class="jumbotron">
        <div>
        <h1><span class="light">Create User</span></h1>
        <form class="form-signin" action="/signUp" method="post">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

        </form>
      </div>
       <div class="alert alert-danger" id="error" role="alert" style="{{errorDisplay}}">
       <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
       <span class="sr-only">Error:</span>
       {{error}}
       </div>
      </div>
 
       
 
      <footer class="footer">
        <p><span class="shade housecolor">&copy; BunnyFat 2016</span></p>
      </footer>
 
    </div>
  </body>
</html>
